---
pagination:
    data: collections.categories
    size: 1
    alias: category
permalink: "/categories/{{category | slugify}}/index.html"
layout: main
---

<h2>Category: {{category}}</h2>

{% assign posts = collections.post | filterByCategory: category %}
{% for post in posts reversed%}
<p>
    <a href="{{ post.url }}" class="post"><h3 class="post post-title">{{ post.data.title }}</h3></a>
    <ul class="meta">
        <li class="date"><strong>{{ post.date | date: "%b %d, %Y" }}</strong></li>
        <li class="author">By <strong>{{ post.data.author }}</strong></li>
        <li class="categories">
            {% for category in post.data.categories %}
                <strong><a href="/categories/{{ category | slug }}">{{ category }}</a></strong>
            {% endfor %}
        </li>
    </ul>
    <p class="discription"><strong>{{ post.data.discription }}</strong></p>
    {% excerpt post %}
    </p>
{% endfor %}
