---
pagination:
    data: collections.post
    size: 10
    alias: posts
    reverse: true
layout: main
title: Posts
---

<h2>Post Archive</h2>


{% for post in posts%}
    <div class="post">
        <a href="{{ post.url }}"><h3 class="post-title">{{ post.data.title }}</h3></a>
        <p class="discription"><strong>{{ post.data.discription }}</strong></p>
        <ul class="meta">
            <li class="date"><strong>{{ post.date | date: "%b %d, %Y" }}</strong></li>
            <li class="author">By <strong>{{ post.data.author }}</strong></li>
            <li class="categories">
                in 
                {% for category in post.data.categories %}
                    <strong><a href="/categories/{{ category | slug }}">{{ category }}</a></strong>
                {% endfor %}
            </li>
        </ul>
        <div class="excerpt">
            {% excerpt post %}
        </div>
    </div>
{% endfor %}
<p>
    {% if pagination.href.previous %}
        <a href="{{pagination.href.previous}}">Previous</a>
    {% else %}
        Previous
    {% endif %}
    /

    {% if pagination.href.next %}
        <a href="{{pagination.href.next}}">Next</a>
    {% else %}
        Next
    {% endif %}
</p>


    
